[Desktop Entry]
Type=Application
Exec=/usr/local/bin/welcome.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=SkyOS Welcome
Comment=Выводит приветствие при входе
